# 제어문 

# 조건문 (if문)

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 '조건식'과 함께 사용된다.
   - ('if <조건식>:')
2. '<조건식>' 참(True)인 경우 ':' 이후의 문장을 실행

if <조건식>: if의 조건식이 참인 경우 실행

else: if의 조건식이 거짓인 경우 실행

In [5]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [12]:
num = input('숫자를 입력해주세요')

result = int(num) % 2

if bool(result):
    print('홀수입니다.')
else:
    print('짝수입니다')

숫자를 입력해주세요 18

짝수입니다

In [13]:
num = int(input())

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

 123

홀수

In [15]:
num = int(input())

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

 123

홀수

In [48]:
num = int(input())

if num % 2:
    print('홀수')
else:
    print('짝수')

 124

짝수

In [ ]:
## elif <조건식>:

In [43]:
score = int(input())

 95

In [35]:
# 90점 이상 A
# 80~90 B
# 70~79 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79 :
    print('C')

C

In [45]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
    
elif score >= 80:
    print('B')

A
참잘했어요

### 조건표현식

```
true_value if <조건식> else false_value
```

In [49]:
print('True') if 1 < 0 else print('False')

False

In [55]:
num = int(input())
value= num

if num >= 0:
    print(value)
else:
    print('0')

 3

3

## 반복문

### while문

```
while <조건식>:
    실행할 코드
```

In [56]:
a=0

while a < 5:
    print(a)
    a+= 1

0
1
2
3
4

In [58]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 asdf
안녕이라고 말해줘 asdf
안녕이라고 말해줘 asdf
안녕이라고 말해줘 안녕

### for

정해진 범위 내의 반복
```
for variable in sequence:
    code
```

In [59]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [61]:
word = input('단어를 입력해주세요')

for char in word:
    print(char)

단어를 입력해주세요 apple

a
p
p
l
e

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [64]:
# 1~30 까지 숫자들 중에서 홀수만 출력

In [80]:
for i in range(1,31):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [76]:
numbers = range(31)
for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [82]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [ ]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

In [84]:
x, y = (1, 2)
print (x, y)

1 2

### dictionary 반복

In [96]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [ ]:
1. for key in dict:
2. for key in

In [97]:
for cat in info:
    print(cat)
    print(info[cat])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [99]:
for value in info.values():
    print(value)

gildong
seoul
010-1234-1234
20

In [100]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [101]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [103]:
# 혈액형의 종류는 ?? ?? 입니다.
print ('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print ('가 있습니다')

혈액형의 종류는 A B O AB 가 있습니다

In [107]:
# 총 학생수는 몇명입니다.
result= 0
for value in blood_type.values():
    result = result + value

print(f'총 학생수는 {result}명입니다.')

총 학생수는 12명입니다.

## break

반복문을

In [109]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

In [123]:
i = 0

while True:
    if rice[i] == '쌀':
       print('잡았다')
       break
    print(rice[i])
    i = i + 1

보리
보리
보리
보리
잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [125]:
for i in range(20):
    if i % 2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [128]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살은 성인입니다.')

38살은 성인입니다.
82살은 성인입니다.
39살은 성인입니다.

## else

else문은 끝까지 반복된 후 실행됩니다.
break를 만나지 않았을 때 실행됩니다.

In [129]:
for i in range(10):
    if i >5:
        break
    print(i)
else:
    print('else입니다')

0
1
2
3
4
5

### pass

In [130]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case_:
        code

In [133]:
status = 123

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('i dont know')

i dont know